@import "fuentes";
@import "generales";
@import "contacto";



.sections{
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.restSections{
    color: white;
    font-weight:400;
}

.navBarColor{
    background-color: rgb(99, 96, 96);
    
}

h1{
    font-weight: 700;
}

.card-text{
    justify-content: center;
    text-align: justify;
}

/* SECCIÓN SERVICIOS */

.sectionCards{
    padding-top: 50px;
    padding-right: 20px;
}


/* MEDIA QUERY - SECCIÓN CONTACTO */

@media screen and (max-width: 950px){
    .contact-section{
        flex-direction: column;
    }

    .contact-info, .contact-form{
        margin: 30px 50px;
    }

    .contact-form h2{
        font-size: 20px;
    }

    .contact-form .text-box{
        width: 100%;
    }
}